version: '3.8'

services:
  app:
    build: .
    ports:
      - '${PORT:-4000}:${PORT:-4000}'
    volumes:
      - ./.env:/app/.env
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped
